<div class="row mt-4">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <h1>Sweets Shop とは</h1>
        <div class="my-4">
          <h2>参加型のグルメサイトです</h2>
          <p>お気に入りスイーツ店の推しメニューを投稿出来ます。</p>
          <p>同じものを食べた人は投稿に採点が出来ます。</p>
          <p>何度でも採点可能なので、何度でも食べにいきましょう。</p>
        </div>
        <div class="my-4">
          <h2>開発の経緯</h2>
          <p>昔から食べる事が好きで美味しい店をよく探していました。</p>
          <p>ですが移動範囲が狭いためなかなかいいお店が見つけられないのが現状です。</p>
          <p>そこで全国のおいしいお店を知ってる人に、自分のイチ推しメニューのレビューして頂き、
          そこのおすすめのスイーツを皆さんで共有できたらなと思って作りました。</p>
        </div>
        <div class="my-4">
          <h2>店舗等の情報について</h2>
          <p>店舗や商品名等のデーターはすべて架空のものとなっています。</p>
        </div>
      </div>
    </div>
  </div>
</div>